.DS_Store
*.log

site/.next/
site/out/
site/node_modules/
site/.vercel/

app/.app_password_and_email.txt
app/.build/
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.idea/
app/build/
app/dist/
app/macos/Flutter/ephemeral/
app/macos/Pods/
